.todo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  grid-area: todo;

  // min-width после 1441px
  @media (min-width: 1441px) {
    max-width: 800px;
  }

  // max-width до 1440px
  @media (max-width: 1440px) {
    max-width: 800px;
  }

  // max-width до 320px
  @media (max-width: 320px) {
    min-width: 280px;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;

    // min-width от 768px
    @media (min-width: 768px) {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }

    @media (max-width: 320px) {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }
  }

  img {
    text-align: center;
  }
}

.todo__form {
  display: flex;
  margin-bottom: 15px;
}

.todo__input {
  user-select: text;
}

.todo__task {
  cursor: pointer;
}

.todo__text {
  line-height: 1.0;
}

.btn__del {
  line-height: 1.0;
}

.input__completed .todo__text {
  opacity: 0.7;
  text-decoration: line-through;
}

.form-control {
  line-height: 1.0;
}