.clock {
  cursor: default;
  letter-spacing: -5px;
  margin: 0;
}

.clock__header {
  display: inline;
  position: relative;

  h1 {
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
    display: inline;
    position: absolute;
    top: 0;
    left: 50%;

    // max-width до 768px
    @media (min-width: 768px) {
      font-size: 5em;
      margin-left: -175px;

    }

    /* @media (max-width: 1024px) {
      font-size: 6em;
      margin-left: -175px;
    } */

    // max-width до 768px
    @media (max-width: 767px) {
      font-size: 4em;
      margin-left: -135px;

    }

    @media (max-width: 425px) {
      font-size: 3em;
      margin-left: -97px;

    }

  }
}