.clock {
  cursor: default;
  letter-spacing: -5px;
  margin: 0;
  height: 145px;
  //position: relative;
}
.clock__header {
  //text-align: left;
  display: inline;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -213px;
  h1 {
    margin: 0;
    font-weight: 100;
    font-size: 120px;
  }
}