html {
  box-sizing: border-box;

}

body {
  width: 100%;
  background: #ccc;
  user-select: none; //выделить текст нельзя
  color: #ffffff;
  min-width: 320px;
}

//убирает подсветку во всех браузерах на input, select, button, a
:active,
:hover,
:focus {
  outline: none;
  outline-offset: 0;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; //'Quicksand', sans-serif;
}

.wrapper {
  height: 100vh;
  min-height: 100%;
  animation: fadein 0.5s linear;
  position:relative;
  background: black;
}


.dashboard {

 font-size: 20px;
  padding-bottom: 15px;
  position: relative;
  height: 100%;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr;
  grid-template-rows:150px 1fr 1fr;
  gap: 20px 0px;
  grid-template-areas:
    "weather"
    "center__block"
    "todo";
}

.center__block {
  text-align: center;
  position: relative;
  height: 200px;
  grid-area: center__block;
}

