html {
  box-sizing: border-box;

}

body {
  width: 100%;
  background: #ccc;
  user-select: none; //выделить текст нельзя
  color: #ffffff;
  min-width: 320px;
}

//убирает подсветку во всех браузерах на input, select, button, a
:active,
:hover,
:focus {
  outline: none;
  outline-offset: 0;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; //'Quicksand', sans-serif;
}

.wrapper {
  height: 100vh;
  min-height: 100%;
  animation: fadein 0.5s linear;
}

.background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: fadein 0.5s linear;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;

  // max-width до 768px
  @media (max-width: 425px) {
    align-items: flex-end;
  }

  // max-width до 320px
  @media (max-width: 320px) {
    min-width: 320px;
    padding: 0;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 45px;
  height: 100%;
  position: relative;
  font-size: 20px;

  // max-width до 1024px
  @media (max-width: 1024px) {
    padding-bottom: 15px;
  }
}

.center__block {
  text-align: center;
  position: relative;
  height: 200px;
}

